In [1]:
import glob, sys, os
import pandas as pd
from pathlib import Path

### Funcion que combina fastamanifest con runtable creando metadata valido.

archivo_manifest = 'qiime/fasta_manifest.csv'
archivo_metadata = 'SraRunTable.txt'

### Nombre de columna que contiene nombres fastq
label_metadata = 'run_accession'
label_manifest = 'absolute-filepath'

### Cargo archivos
meta=pd.read_csv(archivo_metadata,sep='\t')
#display(meta.head())
manifest=pd.read_csv(archivo_manifest,sep='\t')
#display(manifest.head())

### Recorto nombre archivos
manifest[label_manifest] = [Path(x).stem.split('.')[0] for x in manifest[label_manifest]]
#display(manifest.head())

### Si es paired end, borrar columna con direccion y sufijos _1/2
if 'direction' in manifest:
    manifest[label_manifest] = [x.split('_')[0] for x in manifest[label_manifest]]
    manifest.drop_duplicates(subset=label_manifest, inplace=True)
    manifest.drop(columns='direction', inplace=True)
    #display(manifest.head())
    
### Combino con sample frequency


### Combino y exporto
result = pd.merge(manifest, meta, left_on=label_manifest, right_on=label_metadata)
result.drop(columns=label_manifest, inplace=True)
result.to_csv('sample-metadata.tsv',sep='\t', index=False)
display(result)

,sample-id,study_accession,sample_accession,experiment_accession,run_accession,tax_id,scientific_name,fastq_ftp,submitted_ftp,sra_ftp
0,sample-1,PRJNA46879,SAMN00018784,SRX020773,SRR049755,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN
1,sample-1,PRJNA46879,SAMN00018824,SRX020773,SRR049755,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN
2,sample-1,PRJNA46879,SAMN00018903,SRX020773,SRR049755,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN
3,sample-1,PRJNA46879,SAMN00018908,SRX020773,SRR049755,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN
4,sample-1,PRJNA46879,SAMN00018878,SRX020773,SRR049755,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN
...,...,...,...,...,...,...,...,...,...,...
5455,sample-98,PRJNA46879,SAMN00217202,SRX089367,SRR327701,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN
5456,sample-98,PRJNA46879,SAMN00217198,SRX089367,SRR327701,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN
5457,sample-98,PRJNA46879,SAMN00217194,SRX089367,SRR327701,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN
5458,sample-98,PRJNA46879,SAMN00217250,SRX089367,SRR327701,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN
5459,sample-98,PRJNA46879,SAMN00010557,SRX089367,SRR327701,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN

In [10]:
display(meta.head())

,study_accession,sample_accession,experiment_accession,run_accession,tax_id,scientific_name,fastq_ftp,submitted_ftp,sra_ftp
0,PRJNA46879,SAMN00018627,SRX020378,SRR043298,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN
1,PRJNA46879,SAMN00018765,SRX020378,SRR043298,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN
2,PRJNA46879,SAMN00018807,SRX020378,SRR043298,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN
3,PRJNA46879,SAMN00018794,SRX020378,SRR043298,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN
4,PRJNA46879,SAMN00018776,SRX020378,SRR043298,646099,human metagenome,NaN,Protected file(s). Go to dbGap,NaN

In [6]:
display(manifest.head())

  sample-id absolute-filepath
0  sample-1         SRR049755
1  sample-2         SRR049756
2  sample-3         SRR049757
3  sample-4         SRR049758
4  sample-5         SRR049759